<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
  </head>
  <body>
    <main
      style="background-color: black; height: 100vh; width: 100vw; color: white; overflow: auto;"
    >
      <h1 style="text-align: center;">
        Welcome to my framework
      </h1>
      <h2>Sample data</h2>
      <ul>
          <li>
              {{ example }}
          </li>
          <li>
              {{ id }}
          </li>
        </ul>
    </main>
  </body>
</html>
